@font-face {
    font-family: "toss";
    src: url("font.ttf");
}

*{
    font-family: "toss";
}

body{
    display: grid;
    justify-items: center;
}
#cnt{
    font-size: 40px;
}
#btns{
    display: flex;
    gap: 10px;
}
#btns > input{
    padding: 10px 25px;
    font-weight: 600;
    border: 0;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}
#btns > input#up{
    background-color: rgb(255, 60, 0);
    padding: 10px 35px;
}
#btns > input#up:hover{
    background-color: rgb(216, 50, 0);
}

#btns > input#down{
    background-color: rgb(0, 153, 255);
}
#btns > input#down:hover{
    background-color: rgb(0, 123, 206);
}